# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

dist

# test files
.test*
test*

# tmp files
tmp*

# test results json
cucumber-json
screenshots
videos
cypress-client/results
cypress-client/client/test-results/*

env/*.local
script/node_modules

# runtime
runtime-*

# log 业务日志
team-node-log/*

cypress.merge.json
cypress-cucumber-preprocessor.config.js
cucumber.js
cypress-client/support
cypress-client/integration/common
cypress-client/plugins
cypress-client-build/support
cypress-client-build/integration/common
cypress-client-build/plugins
